.nome, .email, .data, .clone{
    display: flex;
    margin-left: 15%;
    height: 25px;
    width: 220px;
    border: none;
    border-radius: 4px;
    position: relative;
}

.spotify, .formul, .produto{
    display: inline;

}

h1{
    text-align: center;
}

.form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
}


button{
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin: auto;
}

.bt{
  display: block;
  padding: 8px 20px;
}

button::before, button::after{
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #000;
}

.bt::before, .bt::after{
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #000;
}

button:hover::before, button:hover::after{
  width: 100%;
}

button:hover span::before, button:hover .bt::after{
  height: 100%;
}

.btn::before, .btn::after{
  transition-delay: 0.2s;
}

.btn::before{
  right: 0;
  top: 0;
}

.btn::after{
  left: 0;
  bottom: 0;
}

.btn .bt::before{
  left: 0;
  top: 0;
}

.btn .bt::after{
  right: 0;
  bottom: 0;
}

.btn:hover::before, .btn:hover::after{
  transition-delay: 0s;
}

.btn:hover span::before, .btn:hover span::after{
  transition-delay: 0.2s;
}

  .nome:hover, .email:hover, .clone:hover{
    background-color: none;
    border-bottom: solid #000 2px;
  }
